body{
    margin: 0px;
}
.text-align{
text-align: center;
}
div{
    box-sizing: border-box;
}
ul {
   width: 450px;   
   list-style: none;
   
   li{
    padding: 10px;
    border: 1px solid black;
   }
   li:hover {
    background-color: blue;
   }
   .active{
    background-color: darkorchid;
}
}




@mixin basic_box($background-color){
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    line-height: 50px;
    padding-left: 10px;
    background-color: $background-color;
}
.green{
    @include basic_box(green);
}
.blue{
    @include basic_box(#2a4cb2);
}
.yellow{
    @include basic_box(yellow);
}




@mixin col-1($number){
    width: calc(( 100% / 12 ) * $number);
}
.row{
    display: flex;
    text-align: center;
}

.col-6{
    background-color: #2a4cb2;
    @include col-1(6);
}
.col-4{ 
    @include col-1(4);
    background-color: slateblue;
}

.md{
    @media screen and (min-width:720px){
        background-color: red;   
    }
}

.video-box{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position:relative;
}
.video-container{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.video-title{
    position: absolute;
    left: 35%;
    font-size: 50px;
    color: whitesmoke;
}


